@using Microsoft.AspNetCore.Identity;
@model IList<IdentityRole>
@{
    ViewData["Title"] = "RoleList";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="RoleCreate">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Rol Adı
                </th>
               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("RoleUpdate", "RoleUpdate", new { id=item.Id  }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("RoleDelete", "RoleDelete", new {  id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


